<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title translate="no">Stocks tracker | Money hiver</title>
    <link rel="stylesheet" href="/static/css/stocks.css">
</head>
<body>
    <header>
        <div class="logo" translate="no">Money hiver</div>
        <section class="hero">
            <h1>Stocks tracker</h1>
            <h2>Global stock market data, major assets</h2>
        </section>
    </header>

    <main>
        <section class="stocks-content">
            <h2>About stocks</h2>
            <p>Stocks consist of all the shares by which ownership of a corporation or company is divided.</p>
            <p>A single share of the stock means fractional ownership of the corporation in proportion to the total number of shares.</p>
            <p>This typically entitles the stockholder to that fraction of the company's earnings, proceeds from liquidation of assets or voting power, often dividing these up in proportion to the number of like shares each stockholder owns.</p>
        </section>

<section class="stocks-content">
    <h2>Price charts</h2>

    <div class="chart-container-wrapper">
        <div id="elfsight-widget-container">

<script src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-54b0e1a7-5f84-4692-a185-0823be254e33" data-elfsight-app-lazy></div>
        </div>
    </div>
</section>
    </main>

    <footer id="contact">
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p>Email: getnetassistance@gmail.com</p>
            <p translate="no">© 2025 Money hiver. All rights reserved.</p>
        </div>
    </footer>

    <script src="/static/js/stocks.js"></script>
</body>
</html>